<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>argilosas</title>
    <meta
      name="description"
      content="brincos, colares e  presilhas artesanais"
    />
    <link rel="stylesheet" href="/layout/style.css" />
    <link rel="icon" href="/images/Logo.png" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="/layout/index.html" class="logo"
          ><img src="/images/Logo.png" alt="" class="logo"
        /></a>
        <h1 class="marca">argilosas</h1>
      </div>
      <div class="nav-bar">
        <ul class="navbar">
          <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="18" cy="18" r="12" fill="#C4C4C4"/>
          <li class="nav"><a href="" class="na-link">vocês &lt3 </a></li>
          <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/>
            </svg>
          <li class="nav"><a href="" class="na-link">nós</a></li>
          <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/>
            </svg>
          <li class="nav">
            <a href="" class="na-link esp">testess</a>
          </li>
          <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/>
            </svg>
          <li class="nav"><a href="" class="na-link">test</a></li>
        </ul>
        <div class="contact">
          <div class="wpp">
            <a href="" class="wpp-link"
              ><img src="/images/whatsapp.png" alt="wpp" class="wpp-img"
            /></a>
            <h1 class="wpp-number">number</h1>
          </div>
          <div class="ig">
            <a href="" class="ig-link"
              ><img src="/images/instagram.png" alt="ig" class="ig-img"
            /></a>
            <a href="" class="ig-name">
              <h1 class="ig-name">argilosas_</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
    <main class="ear-text">
      <div class="text-side">
        <h1 class="princ">Titulo</h1>
        <p class="sec">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero
          ducimus, quo itaque delectus adipisci, in voluptates velit esse
          asperiores facilis voluptatem molestias unde provident blanditiis
          dicta corrupti culpa laborum.
        </p>
        <button class="Confira">
          <a href="" class="bttn"> CONFIRA AQUI </a>
          <img src="/images/earrings 1.png" alt="" class="joia" />
        </button>
      </div>
      <div class="img-side"></div>
    </main>
  </body>
</html>
